*{margin:0;padding:0;}
.body div:first-child{
    background:linear-gradient(to top,#33bbff,#177ee6);
}
div.banner{
    width:1080px;
    height:432px;
    margin:0 auto;
    padding:0 60px;
    position:relative;
    overflow:hidden;
}
#nav ul{
    /*width:900px;*/
    /*height:360px;*/
}
#nav ul li{
    list-style:none;
    float:left;
}
#nav ul li img{
    width:1080px;
    /*height:360px;*/
}
#nav ul li:not(:first-child){
    margin-left:60px;
}
.banner .banner_arrow{
    position:absolute;
    top:0px;
    width:60px;
    height:432px;
    background:rgb(200,200,200);
    opacity:0.3;
}
.banner .left{
    left:0px;
}
.banner .right{
    right:0px;
}
.banner .banner_arrow a{
    position:absolute;
}
.banner .banner_arrow a{
    top:50%;
    margin-top:-20px;
    text-decoration:none;
}
.banner .left a{
    left:50%;
    margin-left:-20px;
}
.banner .right a{
    right:50%;
    margin-right:-20px;
}
.banner .banner_arrow a i{
    font-size:40px;
}
.banner .banner_bo ul{
    list-style:none;
    position:absolute;
    bottom:10px;
    left:45%;
}
.banner .banner_bo ul li{
    float:left;
    width:10px;
    height:10px;
    border-radius:50%;
    margin-left:5px;
    cursor:pointer;
}
.l1{ background:#999;}
.active{
    background:#fff;
}
